In [1]:
#1
rivers={
    "murray":"Australia",
    "indus river":"Pakistan",
    "colombia river":"canada",
    "rhine":"germany",
    "seine":"france",
    "nile":"egypt",
    "congo":"south africa",
    "allia":"rome"
}

In [2]:
for a,j in rivers.items():
    b=print(a,"runs through",j)
    y=print("river : ",a)
    u=print("Location :",j)

murray runs through Australia
river :  murray
Location : Australia
indus river runs through Pakistan
river :  indus river
Location : Pakistan
colombia river runs through canada
river :  colombia river
Location : canada
rhine runs through germany
river :  rhine
Location : germany
seine runs through france
river :  seine
Location : france
nile runs through egypt
river :  nile
Location : egypt
congo runs through south africa
river :  congo
Location : south africa
allia runs through rome
river :  allia
Location : rome

In [4]:
fname=input("first name") #PART_2A
Lname=input("Last name")
agee=input("age? ")
city= input("city?")
person={
    "F_name":fname,
    "L_name":Lname,
    "age":agee,
    "city":city
    
}
person

first nameafraz
Last namehasan
age? 22
city?karachi

{'F_name': 'afraz', 'L_name': 'hasan', 'age': '22', 'city': 'karachi'}

In [5]:
people=[] #PART_2B
person = {
    'first_name': 'Abbas',
    'last_name': 'Hasan',
    'age': 23,
    'city': 'karachi',
    }
people.append(person)

person = {
    'first_name': 'smith',
    'last_name': 'camaroon',
    'age': 16,
    'city': 'jersey',
    }
people.append(person)

person = {
    'first_name': 'whiliams',
    'last_name': 'peres',
    'age': 48,
    'city': 'alaska',
    }
people.append(person)

# Display all of the information in the dictionary.
for person in people:
    name = person['first_name'].title() + " " + person['last_name'].title()
    age = str(person['age'])
    city = person['city'].title()
    
    print(name + ", of " + city + ", is " + age + " years old.")

Abbas Hasan, of Karachi, is 23 years old.
Smith Camaroon, of Jersey, is 16 years old.
Whiliams Peres, of Alaska, is 48 years old.

In [7]:
city={
    "melborne":{"population":"4.936M",
                
                "fact":"largest tram system"
                ,"country":"Australia"},
    "Karachi":{"country":"Pakistan","population":"14M","fact":"It is sixth largest city"},"Berlin":{"population":"3M","country":"germany","fact":"have Tallest people"}
    
    
}

In [8]:
city

{'melborne': {'population': '4.936M',
  'fact': 'largest tram system',
  'country': 'Australia'},
 'Karachi': {'country': 'Pakistan',
  'population': '14M',
  'fact': 'It is sixth largest city'},
 'Berlin': {'population': '3M',
  'country': 'germany',
  'fact': 'have Tallest people'}}

In [9]:
for cityi, cityinfo in city.items():
    country=cityinfo["country"].title()
    fact=cityinfo["fact"].title()
    population=cityinfo["population"].title()
    
    print(cityi,"is located in",country,"The fact about this city is ,",fact,"& the Population is ",population)

melborne is located in Australia The fact about this city is , Largest Tram System & the Population is  4.936M
Karachi is located in Pakistan The fact about this city is , It Is Sixth Largest City & the Population is  14M
Berlin is located in Germany The fact about this city is , Have Tallest People & the Population is  3M

In [10]:
numbers={
    
    "dic1":{1:10,2:20},
    "dic2":{3:30,4:40},
    "dic3":{5:50,6:60}
}

for a,b in numbers.items():
    print(a,"=",b)

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

In [11]:
print("Expected Dictionary")
    
numbers["dic1"].update(numbers["dic2"])
numbers["dic1"].update(numbers["dic3"])
numbers["dic1"]

Expected Dictionary

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
str1 = input("give me a word") #assignment5
my_dict = {}
for letter in str1:
    my_dict[letter] = my_dict.get(letter, 0) + 1
print(my_dict)

give me a wordwordss
{'w': 1, 'o': 1, 'r': 1, 'd': 1, 's': 2}

In [22]:
numbaz={
    "x":[11,12,13,14,15,16,17,18,19,20],
    "y":[21,22,23,24,25,26,27,28,29,30],
    "z":[31,32,33,34,35,36,37,38,39,40]
    
}

In [27]:
print(numbaz)
print("")
print(numbaz["x"][4:5]) #slicing + dict + lists
print(numbaz["y"][4:5])
print(numbaz["z"][4:5])
print("")
for a,z in numbaz.items():
    print(a,"has a value",z)

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}

[15]
[25]
[35]

x has a value [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
y has a value [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
z has a value [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [28]:
price={
    
    "banana":4,
    "apple":2,
    "orange":1.5,
    "pear":3
}
for a,b in price.items():
    print(a)
    print("Price",b)

banana
Price 4
apple
Price 2
orange
Price 1.5
pear
Price 3

In [31]:
price={
    
    "banana":4,
    "apple":2,
    "orange":1.5,
    "pear":3
}
for a,b in price.items():
    print(a)
    print("Price",b)
    
appleq=4*price["apple"]
orangeq=5*price["orange"]
pearq=7*price["pear"]
bananaq=3*price["banana"]
total=appleq+orangeq+pearq+bananaq;
print("If we sold  all of our product we would make: ",total,"$")

banana
Price 4
apple
Price 2
orange
Price 1.5
pear
Price 3
If we sold  all of our product we would make:  48.5 $

In [32]:
values={"M":0,"I":0,"P":0,"S":0}
word="MISSISSIPPI"
for i in word:
    if i=="M":
        values["M"]=values["M"]+1
    elif i=="I":
        values["I"]=values["I"]+1
    elif i=="P":
        values["P"]=values["P"]+1
    elif i=="S":
        values["S"]=values["S"]+1
print(values)

{'M': 1, 'I': 4, 'P': 2, 'S': 4}

In [33]:
numba={"a":1,"b":2,"c":-4,"d":6,"e":-9,"f":-7,"g":-3}

In [34]:
numba

{'a': 1, 'b': 2, 'c': -4, 'd': 6, 'e': -9, 'f': -7, 'g': -3}

In [40]:
print("ALL POSITIVE VALUES")
for a,j in numba.items():
    if j>0:
        print(a,":",j)

ALL POSITIVE VALUES
a : 1
b : 2
d : 6

In [41]:
#assigment10
information={
    1:["sarah",21,"Data Mining"],
    2:["James",22,"linear regration"],
    3:["Asmar",18,"statistics"]
    
    
}

In [42]:
information

{1: ['sarah', 21, 'Data Mining'],
 2: ['James', 22, 'linear regration'],
 3: ['Asmar', 18, 'statistics']}